PORT=4000
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174
JWT_EXPIRES_IN=30d
COOKIE_EXPIRES_IN=30
JWT_SECRET_KEY=YOUR_JWT_SECRET

SMTP_SERVICE=gmail
SMTP_MAIL=YOUR_EMAIL
SMTP_PASSWORD=YOUR_EMAIL_PASSWORD
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
CLOUDINARY_CLIENT_NAME=YOUR_CLOUDINARY_NAME
CLOUDINARY_CLIENT_API=YOUR_CLOUDINARY_API
CLOUDINARY_CLIENT_SECRET=YOUR_CLOUDINARY_SECRET

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET
STRIPE_FRONTEND_KEY=YOUR_STRIPE_FRONTEND_KEY

DB_USER=YOUR_DB_USER
DB_HOST=YOUR_DB_HOST
DB_NAME=YOUR_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=5432

EXCHANGE_API=YOUR_EXCHANGE_API_URL
